*{
    box-sizing: border-box;
}
body{
    background-color: wheat;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    
}
.contact_form{
    height: 474px;
    width: 474px;
}

input[type=text],input[type=mobile],input[type=subject], input[type=email] {
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid black;   
    box-sizing: border-box; 
}

textarea{
    width: 100%;   
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;   
    border: 2px solid black;   
    box-sizing: border-box; 
    height: 125px;
}
label{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: rgb(173, 215, 255);
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
} 

 .container h2{
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }

button{
    background-color: #3f069b;
    color: white;
    padding: 11px 30px;
    margin: 14px 66px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: red;
    transition: .4s;
}
