*{
    box-sizing: border-box;
}
body{
    background-image: url('images/photo.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
   
    
}
label{
    font-size: 18px;
}
textarea{
    font-size: 18px;
}


input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=mobile] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}

input[type=subject] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
}


input[type=submit]{
    background-color: crimson;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: rgb(23, 248, 34);
}


.container{
    background-color: rgb(173, 215, 255);
    border-radius: 10px;
    padding: 10px;
    max-width: 500px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
} 

 .container h2{
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
}
